
.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin: 3px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 50px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: #1693a5;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #00828a;
  }
  
  .error-message {
    color: #ff0000;
  }
  
  .cart-details {
    margin-top: 20px;
  }
  
  .cart-item {
    margin-bottom: 10px;
  }
  
  .total {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .total::after {
    content: "";
    display: table;
    clear: both;
  }
  